HELPER_MODE=google
HELPER_DAYS=28
HELPER_CACHE_SECONDS=300
HELPER_TIMEZONE=Australia/Sydney
HELPER_ALLOW_MOCK_FALLBACK=true
HELPER_LOG_LEVEL=INFO
GOOGLE_CLIENT_SECRET_FILE=client_secret.json
GOOGLE_TOKEN_FILE=token.json
GOOGLE_CALENDAR_IDS=auto
GOOGLE_TASK_LIST_IDS=auto
